<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email</title>

    <head>
<body>
<div>Dear <b th:utext="|${userInfo.firstName} ${userInfo.secondName}, |"></b></div>
<div>Your advertisement has been published
    <span th:utext="|${url}${advertisement.id}|"></span>
</div>

<div><b th:utext="|CEREBRO: <br /> +7 (222) 555-77-99 <br /> lirolaboard@gmail.com|"></b> </div>
</body>
</html>