<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Schedule</title>
    <head>

<body>
<div>Dear <b th:utext="|${userInfo.firstName} ${userInfo.secondName}, |"></b></div>
<div th:switch=${action}>
    <p th:case="soon">your advertisement(s) will be close soon: <br>
        <span th:each="ad : ${advertisementList}">
            <span th:utext="|${url}${ad.id} will be closed ${#temporals.format(ad.expiredTime, 'dd-MM-yyyy')} <br />|"></span>
        </span></p>

    <p th:case="expired">your advertisement(s) has been closed: <br>
        <span th:each="ad : ${advertisementList}">
            <span th:utext="|${url}${ad.id} <br />|"></span>
        </span></p>
</div>
<div><b th:text="${signature}"></b></div>
</body>
</html>