<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>AdvertisementsList</title>

</head>

<body>
<h1>CEREBRO</h1>
<br/><br/>
<div><a th:href="@{/addAdvertisement}"> New advertisement </a></div>
<table class="table table-striped">
    <caption>ADVERTISEMENTS</caption>
    <tr>
        <th>№</th>
        <th>Title</th>
        <th>Text</th>
        <th>Price</th>
        <th>Image</th>
        <th>Address</th>
        <th>Publication time</th>
        <th>Expired time</th>
        <th>Category</th>
        <th>Type</th>
        <th>Status</th>
        <th>Owner</th>
    </tr>
    <tr th:each="ad : ${advertisementsList}">
        <td th:text="${ad.id}"></td>
        <td> <a th:href="@{/advertisementRepository(id=${ad.id})}"> <span th:text="${ad.title}"></span> </a></td>
        <td th:text="${ad.text}"></td>
        <td th:text="${ad.price}" ></td>
        <td><img th:src="@{/image(id=${ad.id})}" alt="Image not load"/></td>
        <td th:text="${ad.address}"></td>
        <td th:text="${#temporals.format(ad.publicationTime, 'dd-MM-yyyy')}"></td>
        <td th:text="${#temporals.format(ad.endTime, 'dd-MM-yyyy')}"></td>
        <td th:text="${ad.category.name}"></td>
        <td th:text="${ad.type.name}"></td>
        <td th:text="${ad.status.name}"></td>
        <td th:utext="|${ad.owner.name} <br /> ${ad.owner.phone} <br /> ${ad.owner.email}|"></td>
    </tr>
</table>
</body>
</html>