<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>AddAdvertisement</title>
</head>
<body>
<h1>Form for advertisement</h1>
<div><a th:href="@{/advertisementsList}"> Back to all advertisements </a></div>

<form th:action="@{/addAdvertisement}" th:object="${advertisement}" method="post">
    <p>Title: <input type="text" th:field="*{title}"/></p>
    <p>Text: <input type="text" th:field="*{text}"/></p>
    <p>Price: <input type="text" th:field="*{price}"/></p>
    <p>Address: <input type="text" th:field="*{address}"/></p>
    <p>Image: <input type="file" th:field="*{image}"></p>

    <p>Category: <select th:field="*{categoryDTO.id}">
        <option th:each="category : ${categorySet}"
                th:value="${category.id}" th:text="${category.name}"></option>
    </select></p>

    <p>Type: <select th:field="*{typeDTO}">
        <option th:each="type : ${typeEnum}"
                th:value="${type}" th:text="${type}" th:field="*{typeDTO}"></option>
    </select></p>


    <p>Status: <select th:field="*{statusDTO}">
        <option th:each="status : ${statusEnum}"
                th:value="${status}" th:text="${status}" th:field="*{statusDTO}"></option>
    </select></p>

    <p>Name: <input type="text" th:field="${contactInfo.name}"/></p>
    <p>Phone: <input type="text" th:field="${contactInfo.phone}"/></p>
    <p>Email: <input type="text" th:field="${contactInfo.email}"/></p>


    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
</body>
</html>