<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>AddAdvertisement</title>
    <style>
        input, textarea, select, button {
            width: 150px;
            margin: 0;

            -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
            -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
            box-sizing: border-box;
        }
    </style>
</head>
<body>
<h1>Advertisement form</h1>
<div><a th:href="@{/advertisementsList}"> Back to all advertisements </a></div>

<form th:action="@{/addAdvertisement}" enctype="multipart/form-data" th:object="${advertisement}" method="post">
    <p>Title: <input type="text" th:field="*{title}"/></p>
    <p>Text: <textarea id="text" name="text" placeholder="Write a description" th:field="*{text}"
                       style="height:75px"></textarea></p>
    <p>Price: <input type="text" th:field="*{price}"/></p>
    <p>Address: <input type="text" th:field="*{address}"/></p>

    <p>Image: <input type="file" name="file"></p>

    <p>Category: <select id="categorySelect" th:field="*{categoryDTO.id}">
        <option th:each="category : ${categorySet}"
                th:value="${category.id}"
                th:text="${category.name}"></option>
    </select>
    </p>

    <p>Type: <select th:field="*{typeDTO}">
        <option th:each="type : ${typeEnum}"
                th:value="${type}"
                th:text="${type}"></option>
    </select></p>

    <p>Name: <input type="text" th:field="${contactInfo.name}"/></p>
    <p>Phone: <input type="text" th:field="${contactInfo.phone}"/></p>
    <p>Email: <input type="text" th:field="${contactInfo.email}"/></p>

    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
</body>
</html>