<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>AddContactInfo</title>
</head>
<body>
<h1>Form for contact info</h1>
<div><a th:href="@{/advertisementsList}"> Back to all advertisements </a></div>
<div><a th:href="@{/addAdvertisement}"> Back to advertisement info </a></div>

<form th:action="@{/addContactInfo}" th:object="${contact}" method="post">
    <p>Name: <input type="text" th:field="*{name}"/></p>
    <p>Phone: <input type="text" th:field="*{phone}"/></p>
    <p>Email: <input type="text" th:field="*{email}"/></p>
    <p><input type="submit" value="Submit"/></p>
</form>

</body>
</html>