<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Advertisement</title>
</head>
<body>
<h1>CEREBRO</h1>
<br/><br/>
<div><a th:href="@{/advertisementsList}"> Show all advertisement </a></div>
<table class="table table-striped">
    <caption>Info</caption>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Text</th>
        <th>Price</th>
        <th>Image</th>
        <th>Address</th>
        <th>Publication time</th>
        <th>End time</th>
        <th>Category</th>
        <th>Type</th>
        <th>Status</th>
        <th>Owner</th>
    </tr>
    <tr th="${advertisement}">
        <td th:text="${advertisement.id}"></td>
        <td th:text="${advertisement.title}"></td>
        <td th:text="${advertisement.text}"></td>
        <td th:text="${advertisement.price}"></td>
        <td><img th:src="@{/image(id=${advertisement.id})}" alt="Image not load"></td>
        <td th:text="${advertisement.address}"></td>
        <td th:text="${advertisement.publicationTime}"></td>
        <td th:text="${advertisement.endTime}"></td>
        <td th:text="${advertisement.categoryDTO.name}"></td>
        <td th:text="${advertisement.typeDTO.name}"></td>
        <td th:text="${advertisement.statusDTO.name}"></td>
        <!--        <td th:text="${advertisement.owner}"></td>-->
    </tr>
</table>
</body>
</html>