<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>AdvertisementList</title>
</head>
<body>
<h1>CEREBRO</h1>
<br/><br/>
<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Text</th>
        <th>Price</th>
        <th>Image</th>
        <th>Address</th>
        <th>Publication time</th>
        <th>End time</th>
        <th>Category</th>
        <th>Type</th>
        <th>Status</th>
        <th>Owner</th>
    </tr>
    <tr th:each="ad : ${advertisementList}">
        <td th:text="${ad.id}"></td>
        <td> <a th:href="@{/advertisement(id=${ad.id})}"> <span th:text="${ad.title}"></span> </a></td>
        <td th:text="${ad.text}"></td>
        <td th:text="${ad.price}"></td>
        <td th:text="${ad.image}"></td>
        <td th:text="${ad.address}"></td>
        <td th:text="${ad.publicationTime}"></td>
        <td th:text="${ad.endTime}"></td>
        <td th:text="${ad.categoryDTO.name}"></td>
<!--        <td th:text="${ad.typeDTO.name}"></td>-->
<!--        <td th:text="${ad.statusDTO.name}"></td>-->
<!--        <td th:text="${ad.owner}"></td>-->
    </tr>
</table>
</body>
</html>